body{
    background-color: rgb(187, 110, 10);
}

h1{
    
}

.prism{
    width: 320px;
}

.box{
    display: flex;
    justify-content: space-between;
}

.a{
    margin-top: auto;
    margin-bottom: auto;
}